@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@layer theme, base, components, utilities;

@theme {
    --color-main-purple: #5f3aa6;
    --color-light-purple: #9772e2;
    --color-ambient-purple: #1e103a;
    --color-grayish-white: #a29daa;
}

@layer components {
    /* global classes start */

    .section-content {
        @apply w-4/5 p-4 mx-auto flex justify-center;
    }

    .section-title {
      @apply text-2xl text-center
    }

    .section-desc {
      @apply text-[rgb(181,178,186)] text-balance text-center
    }

    .tag {
      @apply flex gap-2 py-1 px-4 border-[1px] border-main-purple rounded-[20px] w-fit
    }

    .tag p {
      @apply text-sm
    }

    .tag img {
      @apply object-contain w-[16px]
    }

    .glowing-btn {
      @apply bg-gradient-to-b from-[#3d2769] via-[#7d64b1] to-[#854ef2] px-0.5 drop-shadow-2xl relative
    }

    .glowing-btn .inner {
      @apply bg-[#382167] p-2 text-white border-b-[#854ef2] border-b-2 text-sm flex gap-2 items-center drop-shadow-xl drop-shadow-indigo-500
    }

    .gradient-text {
        @apply bg-gradient-to-r from-[#864ff3] via-[#9772e2] to-[#ab97d1] bg-clip-text text-transparent;
    }

    /* global classes end */


    /* Nav Bar start */

    .section-linker {
      @apply text-white hover:text-light-purple transition-colors text-base
    }

    .section-linker.active {
      @apply underline text-light-purple underline-offset-3
    }

    /* Nav Bar end */
    
    
    /* Tech Stack Section start */

    #tech-stack .tech-stack-col {
      @apply self-start
    }

    #tech-stack .divider {
      @apply w-[1px] h-[50%] border-l-2 border-[#3a226c] border-dashed relative top-[-10px]
    }

    #tech-stack .tech-stack-col .tech-stack-col-title {
      @apply font-bold
    }

    #tech-stack .tech-stack-col ul {
      @apply text-sm list-disc marker:text-main-purple ml-[13px]
    }

    #tech-stack .tech-stack-col li {
      @apply mb-1
    }

    /* Tech Stack Section end */


    /* Projects Showcase Section start */

    #projects .expandable-card {
      @apply flex-1 p-4 border-2 border-dashed border-purple-300 rounded-md bg-purple-950 text-white
    }

    #projects .card-tag {
      @apply text-sm border-2 border-white py-1 px-[13px] rounded-[18px] whitespace-nowrap
    }

    /* Projects Showcase Section start */


}

body {
    min-width: 320px;
    min-height: 100vh;
    background-color: #0d061a;
    color: #9166e9;
}


/* h1 {
  font-size: 3em;
  line-height: 1.1;
} */


/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */