@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --primary-purple: #5f3aa6;
  --secondary-purple: #382167;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #0d061a;
  color: #9166e9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer components {
  .content-wrapper {
    width: 80%;  /* or any specific width */
    margin-inline: auto;  /* centers the container */
  }

  .tag {
    @apply border-2 rounded-3xl border-purple-600 p-1.5 flex place-items-center gap-1 text-xs text-purple-600;
  }

  .primary-button {
    @apply bg-gradient-to-b from-[#3d2769] via-[#7d64b1] to-[#854ef2] px-0.5 drop-shadow-2xl relative;
  }
  .primary-button .inner {
    @apply bg-[#382167] p-2 text-white border-b-[#854ef2] border-b-2 text-sm flex gap-2 items-center drop-shadow-xl drop-shadow-indigo-500;
  }

  .floating-tag {
    @apply absolute flex gap-2 items-center border-0.5 border-purple-200 p-3;
  }

  .floating-tag p:first-child {
    @apply text-3xl font-bold;
  }
  .floating-tag p:nth-child(2) {
    @apply text-white text-sm;
  }
}

@layer components {
  #hero {
    background-image: url(./assets/hero-bg.png);
  }
}
