@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@layer theme, base, components, utilities;

@theme {
    --color-main-purple: #5f3aa6;
    --color-light-purple: #9772e2;
    --color-ambient-purple: #1e103a;
    --color-grayish-white: #a29daa;
}

@layer components {
    .section-content {
        @apply w-4/5 p-4 mx-auto;
    }

    .gradient-text {
        @apply bg-gradient-to-r from-[#864ff3] via-[#9772e2] to-white bg-clip-text text-transparent;
    }
    
    .logo-container {
      @apply grid grid-cols-4 grid-rows-4 gap-3 flex-1;

      .grid-item {
        @apply bg-[#66666624] backdrop-blur-[40px] backdrop-saturate-[1.4];
      }

      img {
        @apply min-w-[50px] p-[15px];
        /* @apply w-[50px] p-[26px] border-1 border-purple-400 bg-linear-to-b from-[#5930AC] via-[#2E067E] to-[#ebe4fb]; */
      }
    }

    /* .tach-stack-container {
      @apply 
    } */
}

/* :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primary-purple: #5f3aa6;
    --secondary-purple: #382167;
} */

body {
    min-width: 320px;
    min-height: 100vh;
    background-color: #0d061a;
    color: #9166e9;
}


/* h1 {
  font-size: 3em;
  line-height: 1.1;
} */


/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */